/*header*/
header {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 3%;
  width: 100%;

  position: relative;
  top: 100%;
}

.option {
  width: 10%;
  margin-right: 2%;
  height: 5vw;
  background-color: white;
  color: black;
  border-radius: 2vw;
  border: 0px;
  font-size: 1.6vw;
  color: #a8a8a8;
}
#search-input {
  padding-left: 7%;
  padding-right: 7%;

  border: 0px solid #888;
  border-radius: 4vw;
  background-color: #f0f0f0;
  color: #000;
  outline: none;
  width: 100%;
  height: 5vw;
  margin-left: 17.5vw;
}

#home {
  color: black;
  width: 10%;
}
#random {
}
#filter {
}

/*card*/
/*styling card */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card {
  box-shadow: 0 4px 8px 0;
  width: 20%;
  border-radius: 1vw;
  margin-left: 3vw;
  margin-top: 8vw;
  margin-right: 1.5vw;
  font-size: 1.3vw;
}
.cardImage {
  width: 100%;
  border-radius: 2vh;
}
.container {
  padding: 4px 9px;
}

@media (max-width: 560px) {
  .cardContainer {
  }
  .card {
    width: 40%;
    margin-left: 6vw;
  }
}
